@import "variables";
@import "background";
@import "card";

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
.centradoX{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.attribution {
    font-size: 14px; 
    text-align: center; 
    position: absolute;
    bottom: 1rem;

}
.attribution a { 
    color: $white; 
    text-decoration: none;
    letter-spacing: 2px;
}